div{
    text-align: center; font-size: 25px; border: 10px solid rebeccapurple;
}
h1{
    text-align: center;
}
#fuck {
   color: red;
}
.class {
    text-align: center; color: chocolate; background-color: green;
}